//COLORS
$color-primary: rgba(33, 33, 33, 255);
$color-secondary: #efefef;

$color-dark-1: #222222;
$color-dark-2: rgba(51, 51, 51, 255);
$color-dark-3: rgba(85, 85, 85, 255);
$color-dark-4: rgba(153, 153, 153, 255);