.btn {
    padding: 1.7rem 8.5rem;
    background-color: transparent;
    border: 2px solid black;

    color: $color-primary;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}